 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/27230.jpg");
  background-position: 50% 50%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 374px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 143px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 497px 0 297px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -23px 497px 43px 297px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 397px;
    margin-left: 197px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: -33px 397px 21px 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 287px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 287px;
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 194px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 572px;
}

.u-section-2 .u-group-1 {
  width: 550px;
  min-height: 131px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 61px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 27px 40px 0 0;
}

.u-section-2 .u-list-1 {
  width: 909px;
  margin: 3px auto 35px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 342px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-image-1 {
  width: 135px;
  height: 106px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-image-2 {
  width: 135px;
  height: 106px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-image-3 {
  width: 135px;
  height: 106px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 10px 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-2 .u-image-2 {
    margin-top: -232px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -168px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 843px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -8px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 874px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-9392381.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 306px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 25px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 20px 12px;
}

.u-section-3 .u-text-1 {
  width: 216px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 30px 623px 0 41px;
}

.u-section-3 .u-text-3 {
  margin: -28px 18px 0 575px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 18px 605px 0 41px;
}

.u-section-3 .u-text-5 {
  margin: -28px 18px 0 628px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 564px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 493px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 546px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 454px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 38px;
    margin-right: 436px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 162px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 353px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 353px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -50px;
    margin-right: 10px;
    margin-left: 321px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -6px;
    margin-right: 10px;
    margin-left: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 126px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 19px;
    margin-right: 246px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 10px;
  }
}